name: Tecton Feature Repo Test

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - uses: actions/setup-python@v4
      with:
        python-version: '3.9'
        cache: 'pip'

    - run: pip install -r requirements.txt

    - name: Run tecton test for Spark features
      run: cd spark; tecton init; tecton test
      env:
        # Set the `TECTON_TEST_SPARK` var since the Tecton sample repo skips
        # tests if this variable is not set.
        TECTON_TEST_SPARK: 1

    - name: Run tecton test for Rift features
      run: cd ../rift; tecton init; tecton test
      env:
        # Set the `TECTON_TEST_SPARK` var since the Tecton sample repo skips
        # tests if this variable is not set.
        TECTON_TEST_SPARK: 0
  